body {
    margin: 0;
    font-size: 1.4em;
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

header {
    width: 100%;
    margin: 0 auto;
}

#header-logo #header-info {
    float:left;
    min-height: 300px;
    background: #00428f;
    color: white;
}

#header-logo {
    width: 70%;
}

#header-info {
    width: 30%;
}

.node {
    fill: white;
    stroke: white;
    stroke-width: 3px;
}

.link {
    fill: white;
    stroke: white;
    stroke-width: 5px;
}

nav {
    background: #dfe2e6;
    color: #00428f;
    font-family: 'Oregon';
}

nav ul, footer ul {
    text-align: center;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    font-family: 'Arial', 'sans-serif';
}

.container h1 h2 {
    color: #00428f;
    font-family: 'Oregon';
}


.sponsors {
    text-align: center;
}
