body {
    margin: 0;
    font-size: 1.4em;
    font-family: 'Oregon';
    color: #00428f;
}

header {
    background: #00428f;
}

.node {
    fill: white;
    stroke: white;
    stroke-width: 3px;
}

.link {
    fill: white;
    stroke: white;
    stroke-width: 3px;
}

nav ul, footer ul {
    text-align: center;
    list-style: none;
}

nav ul li, footer ul li {
    background: #dfe2e6;
    display: inline;
    margin-right: 20px;
}

footer {
    background: #00428f;
}

.sponsors {
    text-align: center;
}
