<!DOCTYPE>
<html>

<head>
    <title> {{ page.title }} </title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>
    <nav>
    <ul>
        <li> <a href="/">Accueil</a>
        <li> <a href="/dates.html">Dates Importantes</a>
        <li> <a href="/comites.html">Comités</a>
        <li> <a href="/programme.html">Programme</a>
        <li> <a href="/inscription.html">Inscription</a>
        <li> <a href="/soumettre.html">Soumettre</a>
        <li> <a href="/informations.html">Informations Pratiques</a>
        <li> <a href="/participants.html">Participants</a>
        <li> <a href="/historique.html">Historique</a>
    </ul>
    </nav>
   
    <div class="container">
        {{ content  }}
    </div>

    <footer>
    <ul> 
        <li> <a href="http://www.lif.univ-mrs.fr/" class="media"
            title="http://www.lif.univ-mrs.fr" rel="nofollow">
         <img src="lif.gif" class="media" alt="" />
        </a>
        <li> <a href="http://www.univmed.fr/" class="media"
            title="http://www.univmed.fr" rel="nofollow">
         <img src="u2.gif" class="media" title="" alt="" />
        </a>
        <li> <a href="http://www.up.univ-mrs.fr/" class="media"
            title="http://www.up.univ-mrs.fr" rel="nofollow">
         <img src="u1.gif" class="media" title="" alt="" />
        </a>
        <li> <a href="http://www.gdr-im.fr/"
            title="http://www.gdr-im.fr" rel="nofollow">
         <strong><em>GDR-IM</em></strong>
        </a>
        <li> <a href="http://www.cnrs.fr/" class="media"
            title="http://www.cnrs.fr" rel="nofollow">
         <img src="cnrs.gif" class="media" title="" alt="" />
        </a>
        <li> <a href="http://www.cirm.univ-mrs.fr/" class="media"
            title="http://www.cirm.univ-mrs.fr" rel="nofollow">
         <img src="logo_CIRM.jpg" class="media" title="" alt="" />
        </a>
    </ul>
    </footer>
</body>
</html>
